DISCORD_TOKEN='GET-YOUR-OWN-TOKEN'
GOOGLE_SEARCH_API_KEY='GET-YOUR-OWN-KEY'
GOOGLE_CSE_ID='GET-YOUR-CSE-ID'
DB_USER='DATABASE-USER'
DB_PASSWORD='DATABASE-PASSWORD'
DB_HOST='HOSTNAME'
DB_NAME='DATABASE-NAME'